<link rel="stylesheet" href="/stylesheets/style2.css"/>

<main class="foro">
  <nav>
    <div>
      <h3>Categorías</h3>
        <ul>
          <li><a href="/ayuda">Ayuda</a></li>
          <li><a href="/ciclovia">Ciclovía</a></li>
          <li><a href="/recomendacion">Recomendación</a></li>
          <li><a href="/reparaciones">Reparaciones</a></li>
          <li><a href="/rodadas">Rodadas</a></li>
          <li><a href="/otros">Otros</a></li>
        </ul>
    </div>
    <div>
      <button><a href="/newpost">Crea una entrada</a></button>
    </div>
  </nav>
  <section>
    <h2>Urbike foro</h2>
    <div>
      {{#each posts}}
        <div>
          <div>
            <img src="{{photo}}" alt="{{title}}">
          </div>
          <div>
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            <button><a href="/foro/{{_id}}">Detalles y comentarios</a></button>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</main>






