
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenido al foro</h1>
    <p class="lead">Unete y podras compartir tus exprencias con mas usarios!</p>
    <button class="btn btn-link"><a href="/newpost">Submit</a></button>
  </div>
</div>

<div>
  {{#each posts}}
  <div>
    <p>{{creatorId.username}}</p>
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    {{!-- <img src="{{photo}}" alt=""> --}}
    <a href="/foro/{{_id}}"><button>Detalles</button></a>
  </div>
  <br>
  {{/each}}
</div>






