<link rel="stylesheet" href="/stylesheets/style2.css"/>
<div class="menu">
  <nav >
    <a href="/inicio">Urbike</a>
    <a href="/data">Primera rodada</a>
    <a href="/foro">Foro</a>
    <a href="/routes">Mapa</a>
     {{#if user}}
      <a href="/profile">Perfil</a>
    {{else }}
    <a href="/signup">Regístrate</a>
    <a href="/login">Entra</a>
    {{/if }}
  </nav>
</div>


<main class="detalles">
  <div>
    <img src="{{photo}}" alt="{{title}}">
    <button class="botónlindo"><a href="/foro">Regresa al foro</a></button>
  </div>
  <div>
    <div>
      <div>
        <div>
          <p>{{creatorId.username}}</p>
        </div>
        <div>
          <img id="profilepic" src="{{creatorId.profilePhoto}}" alt="">
        </div>
      </div>
      <div>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
      </div>
    </div>
    <div>
      <div>
        <h4>Comentarios</h4>
        {{#each comments}}
          <div>
            <div>
              <p><b>{{creatorId.username}}: </b></p>
              <p>{{content}}</p>
            </div>
          </div>
          {{else}}
            <p class="empty">Aún no hay comentarios en esta entrada</p>
        {{/each}}
      </div>
      <form action="/foro/{{_id}}" method="POST">
        <textarea name="content" id="content" rows="2" placeholder="Escribe un comentario"></textarea>
        <button type="submit">Envía</button>
      </form>
    </div>
  </div>
</main>
