<link rel="stylesheet" href="/stylesheets/style2.css"/>
<div class="menu">
  <nav >
    <a href="/inicio">Inicio</a>
    <a href="/data">Primera rodada</a>
    <a href="/routes">Mapa</a>
    <a href="/profile">Perfil</a>
  </nav>
</div>


<main class="detalles">
  <div>
    <img src="{{photo}}" alt="{{title}}">
  </div>
  <div>
    <div>
      <div>
        <img id="profilepic" src="{{creatorId.profilePhoto}}" alt="">
        <h4>{{creatorId.username}}</h4>
      </div>
      <div>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
      </div>
    </div>
    <div>
      <h4>Comentarios</h4>
      {{#each comments}}
        <div>
          <div>
            <p><b>Comentario de {{creatorId.username}}</b></p>
            <p>{{content}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>
<button class="botónlindo"><a href="/foro">Regresa al foro</a></button>
  

<h2>Crea un nuevo comentario</h2>
<form action="/foro/{{_id}}" method="POST">
  <div class="form-group">
    <label for="content">Comentario</label>
    <textarea class="form-control" id="content" name="content" rows="2"></textarea>
  </div>
  <button type="submit">Envía</button>
</form>
</main>
