<h2>Tus entradas</h2>

{{#each posts}}
  <div>
    <h4>{{title}}</h4>
    <p>{{content}}</p>
    <img src="{{photo}}" alt="{{title}}">
    <p>{{date}}</p>
  </div>
  {{else}}
  <p class="empty">Aún no tienes posts</p>
{{/each}}
  