<link rel="stylesheet" href="/stylesheets/userpostyle.css" />
  
<main class="foro">
  <nav>
      <button><a href="/newpost">Crea una nueva entrada</a></button>
      <br>
      <button><a href="/profile">Regresa a tu perfil</a></button>
  </nav>
  <section>
    <h2>Tus entradas</h2>
    <h3>Revisa todas las entras que has hecho</h3>
    <div>
      {{#each posts}}
        <div>
          <div>
            <img src="{{photo}}" alt="{{title}}">
          </div>
          <div>
            <h3>{{title}}</h3>
            <p>{{content}}</p>
            <div id="userpostsbtn">
              <button><a href="/foro/{{_id}}">Detalles y comentarios</a></button>
              <button><a href="/profile/{{_id}}">Elimina la entrada</a></button>
            </div>
          </div>
        </div>
        {{else}}
        <p class="empty">Aún no tienes entradas</p>
      {{/each}}
    </div>
  </section>
</main>








