<h2>Tus entradas</h2>
{{#each posts}}
  <div>
    <h4>{{posts.title}}</h4>
    <p>{{posts.content}}</p>
    <img src="{{posts.photo}}" alt="{{posts.title}}">
    <p>{{posts.date}}</p>
  </div>
  {{else}}
  <p class="empty">Aún no tienes posts</p>
{{/each}}
